<div class="dropdown-divider"></div>
<div class="container-fluid">
    <h3>Editar Semestre</h3>
</div>
<div class="dropdown-divider"></div>
<%= render('form', semester: @semester) %>
<div class="dropdown-divider"></div>
<div class="container-fluid">
    <%= link_to 'Atrás', semesters_path, {:class => "btn btn-info"} %>
</div>