<br>
<div class="row">
  <div class="col-lg-11">
    <h1>Semester</h1>
  </div>
  <div class="col-lg-1">
    <%= link_to 'Back', semesters_path, {:class => "btn btn-dark"} %>
  </div>
</div>

<%= render('form', semester: @semester) %>