<br>
<div class="row">
  <div class="col-lg-7">
    <h1>Semesters</h1>
  </div>
  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-3">
        <%= link_to 'New Semester', new_semester_path, {:class => "btn btn-dark"} %>
      </div>

      
    </div>
  </div>
</div>
<div class="dropdown-divider"></div>
<%= render('list', semesters: @semesters) %>