<h1>Semester#show</h1>
<p>Find me in app/views/semester/show.html.erb</p>

<ul>
  <li><strong>par_0_impar_1 </strong><%= @semester.is_even %></li>
  <li><strong>fecha_inicio: </strong><%= @semester.start_date %></li>
  <li><strong>fecha_final: </strong><%= @semester.finish_date %></li>
  <li><strong>descripcion: </strong><%= @semester.backup %></li>
</ul>