<br>
<div class="row">
  <div class="col-lg-11">
    <h1>Admins</h1>
  </div>
  <div class="col-lg-1">
    <%= link_to 'Back', admins_path, {:class => "btn btn-dark"} %>
  </div>
</div>
<%= render('form', admin: @admin) %>