<h1>Students</h1>
<p>Edit Student</p>


<%= render('form', student: @student) %>

<%= link_to 'Show', @student, :class => "btn btn-secondary" %> |
<%= link_to 'Back', students_path, :class => "btn btn-secondary" %>