<html>
	<input type="submit" id="cargar-constancia" class="btn btn-primary" value="Cargar constancia de Matricula" >
	<h1>Bienvenido(a), <%= @student.full_name %></h1>
		
	<div class="card">
		<div class="card-header">COMUNICADOS</div>
		<ul class="list-group">
		  <li class="list-group-item">Perteneces al SEGUNDO TERCIO, no puedes matricularte aun.</li>
		  <li class="list-group-item">Aun no has subido tu constancia de matricula.</li>
		  <li class="list-group-item">Mensaje 3.</li>
		  <li class="list-group-item">Mensaje 4.</li>
		</ul>
	</div>
	<br/>
	<div class="card text-center" >
		<div class="card-header">CRONOGRAMA DE MATRICULAS</div>
		<table>
			<thead> 
				<tr>
					<th>GRUPO</th>
					<th>A PARTIR DE:</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Grupo 1</td>
					<td></td>
				</tr>
				<tr>
					<td>Grupo 2</td>
					<td></td>
				</tr>
				<tr>
					<td>Grupo 3</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br/>

	<p>CUI: <%= @student.cui %></p>
	<p>E-MAIL: <%= @student.email %></p>
	<input type="submit" id="matricular" class="btn btn-primary" value="Matricular" >
	<p></p>



</html>