<input type="submit" id="cargar-constancia" class="btn btn-primary" value="Cargar constancia de Matricula" >
<h1>Bienvenido(a), <%= @student.full_name %></h1>
<p>CUI: <%= @student.cui %></p>
<p>EMAIL: <%= @student.email %></p>
<input type="submit" id="matricular" class="btn btn-primary" value="Matricular" >
<p></p>
