<html>

	<div class="card">
		<ul class="list-group">
		  <li class="list-group-item">Perteneces al SEGUNDO TERCIO, no puedes matricularte aun.</li>
		  <li class="list-group-item">Aun no has subido tu constancia de matricula.</li>
		  <li class="list-group-item">Mensaje 3.</li>
		  <li class="list-group-item">Mensaje 4.</li>
		</ul>
	</div>
	
	<input type="submit" id="cargar-constancia" class="btn btn-primary" value="Cargar constancia de Matricula" >
	<h1>Bienvenido(a), <%= @student.full_name %></h1>
	<p>CUI: <%= @student.cui %></p>
	<p>E-MAIL: <%= @student.email %></p>
	<input type="submit" id="matricular" class="btn btn-primary" value="Matricular" >
	<p></p>



</html>