<div class="dropdown-divider"></div>
<div class="container-fluid">
    <h3>Nuevo Estudiante</h3>
</div>
<div class="dropdown-divider"></div>
<%= render('form', student: @student)%>
<div class="dropdown-divider"></div>
<div class="container-fluid">
    <%= link_to 'Atrás', students_path, :class => "btn btn-info" %>
</div>