<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <% secretaries.each do |secretary| %>
      <tr>
        <td><%= link_to secretary.full_name, admins_secretary_path(secretary) %></td>
        <td><%= secretary.status %></td>
        <td>Show  Edit  Delete</td>
      </tr>    
    <% end %>
  </tbody>
</table>