<div class="dropdown-divider"></div>
<div class="container-fluid">
    <h3>Edit Secretaries</h3>
</div>
<div class="dropdown-divider"></div>
<%= render('form', secretary: @secretary) %>
<div class="dropdown-divider"></div>
<div class="container-fluid">
    <%= link_to 'Back', admins_secretaries_path, :class => "btn btn-info" %>
</div>