<table class="table">
  <thead>
    <tr>
      <th scope="col">quota</th>
      <th scope="col">laboratory</th>
      <th scope="col">teacher</th>
      <th scope="col">description</th>
      <th scope="col">options</th>
    </tr>
  </thead>
  <tbody>
    <% laboratories.each do |laboratory| %>
      <tr>
        <td><%= laboratory.quota %></td>
        <td><%= link_to "#{laboratory.course.name} - #{laboratory.group.name}", laboratory %></td>
        <td><%= laboratory.teacher.full_name %></td>
        <td><%= laboratory.description %></td>
        <td>Show  Edit  Delete</td>
      </tr>    
    <% end %>
  </tbody>
</table>