<%= javascript_include_tag "laboratory.js" %>

<div class="dropdown-divider"></div>
<div class="container-fluid">
    <h3>Editar Laboratorio</h3>
</div>
<div class="dropdown-divider"></div>
<%= render('form', laboratory: @laboratory) %>
<div class="dropdown-divider"></div>
<div class="container-fluid">
    <%= link_to 'Atrás', laboratories_path, :class => "btn btn-info" %>
</div>
