<div class="dropdown-divider"></div>
<div class="container-fluid">
    <h3>New Laboratory</h3>
</div>
<div class="dropdown-divider"></div>
<%= render('form', laboratory: @laboratory)%>
<div class="dropdown-divider"></div>
<div class="container-fluid">
    <%= link_to 'Back', laboratories_path, :class => "btn btn-info" %>
</div>