<script>
    $(document).ready(function() {
        update_select_group();
        $("#laboratory_course_id").on('change', function() {
            update_select_group(); 
    });
});
	
</script>
<div class="dropdown-divider"></div>
<div class="container-fluid">
    <h3>New Laboratory</h3>
</div>
<div class="dropdown-divider"></div>
<%= render('form', laboratory: @laboratory, courses_with_lab: @courses_with_lab)%>
<div class="dropdown-divider"></div>
<div class="container-fluid">
    <%= link_to 'Back', laboratories_path, :class => "btn btn-info" %>
</div>