<div class="dropdown-divider"></div>
<div class="container-fluid">
  <h3>Editar Tercio</h3>
</div>
<div class="dropdown-divider"></div>
<%= render('form', clasification: @clasification) %>
<div class="dropdown-divider"></div>
<div class="container-fluid">
  <%= link_to 'Atrás', clasifications_path, {:class => "btn btn-info"} %>
</div>