<body class="start">
  <div class="items-center container">
    <h3>¿Cómo matricularme para laboratorio?</h3>
    <p>También es una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original.</p>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xSTwyYDT-A8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br><br>
    <% if !current_user %>
    <div class="g-signin2 btn" data-onsuccess="onSignIn" data-theme="light"></div>
    <%= javascript_tag do %>
      function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '<%= sessions_path %>');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function(resp) {
          if(resp.target.status == 401) {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
          }
          window.location.replace(JSON.parse(resp.target.response).redirect_path);
        };
        xhr.send('idtoken=' + id_token);
      }
    <% end %>
    <% end %>
    <br><br>
  </div>
</body>


 