<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="#">Matrículas para Laboratorio</a>
</nav>

<div class="container items-center">
  <h3>¿Qué es una matrìcula para laboratorio?</h3>
  <p>También es una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original.</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xSTwyYDT-A8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br><a href="index2.html"><button type="button" class="btn btn-dark">Comenzar</button></a>
</div>

