<body class="start">
  <div class="items-center container">
    <h3>¿Cómo matricularme para laboratorio?</h3>
    <p>También es una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original.</p>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xSTwyYDT-A8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br><br>
    <% if !current_user %>
      <%= link_to "Iniciar Sesión con Google", "/auth/google_oauth2", {:class => "btn btn-dark"}%> 
    <% end %>
    <br><br>
  </div>
</body>


 