<div class="dropdown-divider"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col"><h3>Lista de Directores</h3></div>
        <div class="col"><%= link_to "Nuevo Director", new_admins_director_path, :class => "btn btn-success " %></div>
        <div class="col"></div>
    </div>
</div>
<div class="dropdown-divider"></div>
<%= render('list', directors: @directors) %>
<div class="dropdown-divider"></div>