<h1>Teachers</h1>
<p>Edit Teacher</p>


<%= render('form', teacher: @teacher) %>

<%= link_to 'Show', @teacher, :class => "btn btn-secondary" %> |
<%= link_to 'Back', teachers_path, :class => "btn btn-secondary" %>
