<div class="dropdown-divider"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col"><h3>Lista de Profesores</h3></div>
        <div class="col"><%= link_to "Nuevo Profesor", new_teacher_path, :class => "btn btn-success " %></div>
        <div class="col"></div>
    </div>
</div>
<div class="dropdown-divider"></div>
<%= render('list', teachers: @teachers) %>
<div class="dropdown-divider"></div>
