<div class="dropdown-divider"></div>
<div class="container-fluid">
    <h3>Editar Curso</h3>
</div>
<div class="dropdown-divider"></div>
<%= render('form', course: @course) %>
<div class="dropdown-divider"></div>
<div class="container-fluid">
    <%= link_to 'Atrás', courses_path, :class => "btn btn-info" %>
</div>