<div class="dropdown-divider"></div>
<div class="container-fluid">
    <h3>New Course</h3>
</div>
<div class="dropdown-divider"></div>
<%= render('form', course: @course)%>
<div class="dropdown-divider"></div>
<div class="container-fluid">
    <%= link_to 'Back', courses_path, :class => "btn btn-info" %>
</div>